<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rosy's site</title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>

    <!--My CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/Skills.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}">
</head>
<body>
  <div th:insert="nav.html"></div>

  <div class="skill-section">
    <table>
      <tr>
        <th>
          <div class="title">
            <h1>My Skills</h1>
            <hr class="rounded">
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <div class="skill">
            <div class="skill-img">
              <img th:src="@{/images/adaptability.png}" alt="Adaptability image">
            </div>
            <div class="description">
              <h2>Adaptability</h2>
              <p>To work in any project or team, learning from the environment.</p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="skill">
            <div class="skill-img">
              <img th:src="@{/images/teamwork.png}" alt="Teamwork image">
            </div>
            <div class="description">
              <h2>Teamwork</h2>
              <p>Able to work and use productive time with coworkers.</p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="skill">
            <div class="skill-img">
              <img th:src="@{/images/responsability.png}" alt="Responsability image">
            </div>
            <div class="description">
              <h2>Responsability</h2>
              <p>To comply the times and the requirements.</p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="skill">
            <div class="skill-img">
              <img th:src="@{/images/comunication.png}" alt="Comunication image">
            </div>
            <div class="description">
              <h2>Comunication</h2>
              <p>To express and explain my needs, problems and solutions to others.</p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="skill">
            <div class="skill-img">
              <img th:src="@{/images/troubleshooting.png}" alt="Troubleshooting image">
            </div>
            <div class="description">
              <h2>Troubleshooting</h2>
              <p>Under stress situations to get the objectives.</p>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

</body>
</html>